<div class="row" style="justify-content: center; align-items: center; margin: 20px">
  <div class="spinner-grow text-success mr-2" role="status">
    <span class="sr-only">Loading...</span>
  </div><div class="spinner-grow text-success mr-2" role="status">
    <span class="sr-only">Loading...</span>
  </div><div class="spinner-grow text-success mr-2" role="status">
    <span class="sr-only">Loading...</span>
  </div><div class="spinner-grow text-success mr-2" role="status">
    <span class="sr-only">Loading...</span>

</div>
